<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <!-- Configure your targets here -->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="all" />

    <!-- Specify the namespace for LogLevel -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="microsoft" />
    <logger name="NLog.*" minlevel="Trace" writeTo="nlog" />
  </rules>

</nlog>
